#background1 {
    background: gray;
}

body {
    background: url("https://images7.alphacoders.com/661/thumb-1920-661783.jpg");
}

#background3 {
    background: white;
}

.text {
    color: white;
    text-shadow: black;
}